{% extends 'dashboard/base.html' %}
{% block content %}
<br>
<div class="container-fluid">
  <div class="row justify-content-center align-items-center min-vh-100">
      <div class="col-12 col-sm-7 col-md-6">
          {% if messages %}
                  {% for message in messages %}
                      
                      <div class="alert alert-warning alert-dismissible fade show" role="alert">
                          {{ message }}
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                  {% endfor %}
              {% endif %}
          <div class="card border-0 shadow">
              <div class="card-body">
                  <div class="text-center mb-4">
                      <h1>Change Password</h1>
                  </div>
                  <form method="POST">
                      {% csrf_token %}
                      {{ form.as_p }}
                      <div class="text-center mt-3">
                        <button type="submit" class="btn btn-success">Change Password</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}