{% load static %}

<!-- START SIDE NAV -->
<div class="bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom">
        <img src="{% static 'img/nottingham.png' %}" height="100" width="100" alt="logo">
    </div>
    <div class="list-group list-group-flush my-3">
        <a href="/dashboard/" class="list-group-item list-group-item-action bg-transparent second-text active"><i
                class="fas fa-home me-2"></i>Home</a>
        <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                class="fas fa-users me-2"></i>People</a>
        <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                class="fas fa-car me-2"></i>Vehicles</a>
        <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                class="fas fa-file-signature me-2"></i>Reports</a>
        <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                class="fas fa-user-shield me-2"></i>Admin</a>
        <a href="/settings/" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                class="fas fa-cog me-2"></i>Settings</a>
        <a href="{% url 'logout' %}" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold"><i
                class="fas fa-power-off me-2"></i>Logout</a>
    </div>
</div>
<!-- END SIDE NAV -->

