{% extends 'dashboard/base.html' %}

{% block content %}
<br>
  <div class="container">
    <a href="{% url 'add-user' %}" class="input-group btn btn-primary fw-bolder">+ New User</a>
    
    <table class="table table-bordered mt-3">
      <thead>
        <tr class="table-dark">
          <th>Username</th>
          <th>Admin</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          {% for user in users %}
            <tr>
              <td>{{ user.username }}</td>
              <td>{{ user.is_superuser }}</td>
              <td class="text-center">
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ user.id }}">Delete</button>
              </td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="4">No people found.</td>
            </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- Delete User Modal -->
  {% for user in users %}
  <div class="modal fade" id="deleteModal{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel{{ user.id }}">Confirm Deletion</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete user '{{ user.username }}'?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
          <form method="POST" action="{% url 'delete-user' user.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Confirm</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
{% endblock %}